<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Pizza</title>
    <link rel="stylesheet" href="./../css/style.css">
</head>
<!-- <form>
    Nome: <input type="text" name="nome" />
    <p></p>
    Celular: <input type="text" name="celular" />
    <p></p>
    Rua: <input type="text" name="rua" />
    <p></p>
    Número: <input type="text" name="numero" />
    <p></p>
    Complemento: <input type="text" name="complemento" />
    <p></p>
    Bairro: <input type="text" name="bairro" />
    <p></p>
    Ponto de referência: <input type="text" name="pontoref" />
    <p></p> -->
    
// O tamanho da pizza ()
    (Pequena 20cm  - R$25,00), (Media 25cm  - R$30,00), (Gigante 35cm  - R$40,00), (Familia 40cm  - R$45,00)
 // Tipo de borda ()
 (Gorgonzola  - R$10,00), (Provolone  - R$8,00), (Catupiry  - R$5,00), (Cheddar - R$5,00), (Sem borda  - R$0,00)
// Sabores (Apenas 2 sabores por pizza) (Apenas uma pizza) ()
    (Calabresa)	- Mussarela, Calabresa e cebola
    (4 Queijos) - Mussarela, Cheddar, Parmesão e Prato
    (Frango com Catupiry) - Mussarela, Frango e Catupiry
    (Portuguesa) - Mussarela, Pimentão, Cebola, Presunto, Ovo, Cebola
    (Camarão) - Mussarela, Camarão, Salsinha e Cebolinha
    (Carne seca) - Mussarela, Carne seca e cream cheese
    (Lombo Canadense) - Mussarela, Lombo Canadense, Tomate, Orégano, Cebola
    (X-Fritas) - Mussarela, Contra-filé, Presunto, Bacon, Ovo, Tomate, Cebola, Batata Frita
// Bebidas (Apenas uma) ()

// Tipo de entrega ()
<body>
<div class = "div1">
    <h1><p><center>Web Pizza</center></p></h1>
</div>
<div class = "div2">
    <p><h4><center>Seja Bem Vindo(a) ao sistema de pedidos da Web Pizza!</center></h4></p>
</div>
<div class = "div3">
    <p>Por favor, escolha o tamanho da pizza:</p>
    <input type="radio" id="pequena" name="tamanho" value="pequena" onclick="escolherTamanho()"/> Pequena 20cm  - R$25,00<br/>
    <input type="radio" id="media" name="tamanho" value="media" onclick="escolherTamanho()"/> Media 25cm  - R$30,00<br/>
    <input type="radio" id="gigante" name="tamanho" value="gigante" onclick="escolherTamanho()"/> Gigante 35cm  - R$40,00<br/>
    <input type="radio" id="familia" name="tamanho" value="familia" onclick="escolherTamanho()"/> Familia 40cm  - R$45,00<br/>
</div>
<div class = "div4">
    <p>Agora escolha o tipo de borda:</p>
    <input type="radio" id="gorgonzola" name="borda" value="gorgonzola" onclick="escolherBorda()"/> Gorgonzola  - R$10,00<br/>
    <input type="radio" id="provolone" name="borda" value="provolone" onclick="escolherBorda()"/> Provolone  - R$8,00<br/>
    <input type="radio" id="catupiry" name="borda" value="catupiry" onclick="escolherBorda()"/> Catupiry  - R$5,00<br/>
    <input type="radio" id="cheddar" name="borda" value="cheddar" onclick="escolherBorda()"/> Cheddar - R$5,00<br/>
    <input type="radio" id="semBorda" name="borda" value="semBorda" onclick="escolherBorda()"/> Sem borda  - R$0,00<br/>
</div>
<div class = "div5">
    <p>Escolha o 1° sabor de pizza:</p>
    
</div>
    <script src="./../js/script.js"></script>
</body>
</html>